{% extends 'layout.html' %}

{% block title %}O nas{% endblock %}

{% block content %}
<section>>
 <div class="container">
        <div class="title-wrapper mb-5 align-center" style="padding-top: 10%;">
            <h4 class="mbr-section-title mbr-fonts-style mb-0 display-1">
                Opis działalności</h4>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 video-block">
                <div class="video-wrapper">
                    <iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/_HcwD5SeQdY?si=xcYZ1vwjZ09FwPUw" height="400" width="720"></iframe>
                </div>
                
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">
                        <strong>o</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Jesteśmy polską firmą, zajmujemy się budową dachów solarnych z dachówek
                        solarnych wyprodukowanych w Polsce przez fabrykę Hanplast z Bydgoszczy.
                        Nasze produkty odpowiadają najwyższym światowym parametrom oraz jakości
                        . Na ten produkt producent Hansplast udziela 30-letniej gwarancji.
                        Hanplast jako pierwszy na świecie wdrożył produkcję modułów fotowoltaicznych
                        w technologii SmartWire, HJT i bifacial, a jego partnerem technologicznym
                        jest szwajcarska firma Meyer Burger. Cena naszych produktów i usług jes
                        t mocno konkurencyjna, a obsługa klienta kopleksowa.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}