{% extends 'layout.html'%}

{% block title %}Strona Główna{% endblock %}

{%block content%}

<section data-bs-version="5.1" class="header16 cid-tJGs7X2OSn" id="header16-0">

        
  <div class="text-center container">
    <div class="row justify-content-center mb-4">
      <div class="col-12 col-lg-12">
        <div class="image-wrap">
          <img src="static/assets/images/solarne_dachy_logo1.png" alt="dachówki fotowoltaiczne">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-9">
        <h1 class="mbr-section-title mbr-fonts-style mt-4 display-1">Nowość w budownictwie i energetyce: dachówki solarne</h1>
        
			<div class="image">
				<img src="static/assets/images/dachowka_solarna_logo.png">
			</div>
			<p class="mbr-text mbr-fonts-style mt-4 display-7">Wyprodukowane w Polsce dachówki fotowoltaiczne - produkt PREMIUM<br>
			dla najbardziej wymagających klientów</p>
      </div>
    </div>
  </div>
</section>



<section data-bs-version="5.1" class="features4 cid-tJGKiS9ad3" id="features04-5">
	
	
	<div class="container" style="margin-top: -80px;">


		<div class="mbr-section-head mb-5">
			<h4 class="mbr-section-title mbr-fonts-style align-left mb-3 display-1">
				Nasze produkty i usługi</h4>
			
			
		</div>
		<div class="row">
			
			<div class="item features-image col-12 col-md-6 col-lg-4 active">
				<div class="item-wrapper">
					<div class="item-img">
						<img src="static/assets/images/kosztorys.png" alt="Mobirise Website Builder" data-slide-to="0" data-bs-slide-to="0">
					</div>
					<div class="item-content">
						<h5 class="item-title mbr-fonts-style display-1">
							Kosztorys</h5>
						<h6 class="item-subtitle mbr-fonts-style display-7">cena: <strong>999 zł</strong></h6>
						<p class="mbr-text mbr-fonts-style display-7">Obliczymy moc jaką można uzyskać z powierzchni Twojego dachu i ilość potrzebnych dachówek. 
							Zaproponujemy najlepsze rozwiązanie.</p>
						<div class="mbr-section-btn item-footer">
							 <a href="/informations#Kosztorys" class="btn item-btn btn-secondary display-7">Czytaj dalej	</a>
						</div>
						
                       
                      
					</div>
				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="item-img">
						<img src="static/assets/images/solar_tile.png" alt="Mobirise Website Builder" data-slide-to="1" data-bs-slide-to="1">
					</div>
					<div class="item-content">
						<h5 class="item-title mbr-fonts-style display-1">
							Dachówka</h5>
						<h6 class="item-subtitle mbr-fonts-style display-7">cena: <strong>{{ first_product }} zł</strong> za sztukę</h6>
						<p class="mbr-text mbr-fonts-style display-7">Dachówka solarna z Hanplastu jest aktualnie najlpszym produktem w swojej kategorii na 
							rynku, a producent udziela 30-letniej gwarancji na jej wydajność.</p>
						<div class="mbr-section-btn item-footer"><a href="/informations#Dachowka" class="btn item-btn btn-secondary display-7">Czytaj dalej</a></div>
					</div>

				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="item-img">
						<img src="static/assets/images/Projekt.png" alt="Mobirise Website Builder" data-slide-to="1" data-bs-slide-to="1">
					</div>
					<div class="item-content">
						<h5 class="item-title mbr-fonts-style display-1">
							Projekt</h5>
						<h6 class="item-subtitle mbr-fonts-style display-7">cena: <strong>0 zł</strong></h6>
						<p class="mbr-text mbr-fonts-style display-7">Nie pobieramy opłaty za projekt wykonawczy, który jest już wliczony w cenę montażu.<br>
						</p>
						<div class="mbr-section-btn item-footer"><a href="/informations#Projekt" class="btn item-btn btn-secondary display-7">Czytaj dalej</a></div>
					</div>
				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="item-img">
						<img src="static/assets/images/Montaz.png" alt="Mobirise Website Builder" data-slide-to="3" data-bs-slide-to="3">
					</div>
					<div class="item-content">
						<h5 class="item-title mbr-fonts-style display-1">Montaż</h5>
						
						<p class="mbr-text mbr-fonts-style display-7">
							Nasi wykwalifikowani pracownicy położą dachówki na Twoim dachu wraz z całą niezbędną instalacją.<br>
							VAT 8% na wykonanie usługi i zakupione produkty.
						</p>
						<div class="mbr-section-btn item-footer"><a href="/informations#Montaz" class="btn item-btn btn-secondary display-7">Czytaj dalej</a>></div>
					</div>
				</div>
			</div><div class="item features-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="item-img">
						<img src="static/assets/images/funding.png" alt="Mobirise Website Builder" data-slide-to="4" data-bs-slide-to="4">
					</div>
					<div class="item-content">
						<h5 class="item-title mbr-fonts-style display-1">DOFINANSOWANIE</h5>
						
						<p class="mbr-text mbr-fonts-style display-7">
							Udzielamy pomocy w uzyskaniu dofinansowania na modernizację lub budowę dachów z dachówek solarnych,
							 które jest możliwe w Polsce dzięki kilku programom rządowym i unijnym.<br>
						</p>
						<div class="mbr-section-btn item-footer"><a href="/informations#Dofinansowanie" class="btn item-btn btn-secondary display-7">Czytaj dalej</a></div>
					</div>
				</div>
			</div>
			
			<div class="item features-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="item-img">
						<img src="static/assets/images/panele_tradycyjne.png" alt="Mobirise Website Builder" data-slide-to="4" data-bs-slide-to="4">
					</div>
					<div class="item-content">
						<h5 class="item-title mbr-fonts-style display-1">PANELE fotowoltaiczne</h5>
						
						<p class="mbr-text mbr-fonts-style display-7">
							W naszej ofercie mamy również tradycyjne panele fotowoltaiczne. Zapytaj o projekt i ofertę.<br>
						</p>
						<div class="mbr-section-btn item-footer"><a href="/informations#panele_tradycyjne" class="btn item-btn btn-secondary display-7">Czytaj dalej.</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="features38 cid-uO0xhCNVyb" id="features038-1p" style="padding-top: 10%;">
	<div class="container">
		 <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-1">
                        Nasz Przedstawiciel</h1>
                    <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">
                        Specjalista ds. sprzedaży z doświadczeniem w budowaniu długofalowych relacji z klientami. 
						Jestem komunikatywny i konsekwentny w działaniu. Posiadam umiejętność analizy potrzeb klienta 
						oraz dopasowania oferty do jego oczekiwań, co przekłada się na satysfakcję kontrahenta. 
						Pracuję z pasją, stawiając na rozwój i efektywną zespołową współpracę.</p>
                    
                </div>
            </div>
			
            <div class="col-6 col-lg-6 image text-end">
                <img class="" src="static/assets/images/zdjecie_portfolio.png" alt="Przedstawiciel" style="width: 430px; height: min-content; margin-left: 80px;">
            </div>
        </div>
	</div>
</section>


<section data-bs-version="5.1" class="form1 cid-tJGQpvh1d5" id="form01-6">
	

	
	<!--
	<div class="container-fluid">
		<div class="row content-wrapper justify-content-center">
			<div class="col-lg-7 mbr-form">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h5 class="mbr-section-title mbr-fonts-style mb-5 display-1">newsletter z nowościami technologicznymi:</h5>
				</div>

				<div class="text-wrapper align-left" data-form-type="formoid">
					
					<form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="kpwDLz2pgzfQQcwF5bV+H1h5WY0g1PWG/FgDBxsR/dBaMnI/CpRd67NnWMp0kYGwHHjfNrQH+iMg8hfPVPM4+f1qE8B737yRa8ShRGBIxuKjRu/xwt3wKKd6GxFKJMBr">
						<div class="row">
							<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Dziękujemy za subskrypcję</div>
							<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
								Oops...! some problem!
							</div>
						</div>
						<div class="dragArea row">
							<div data-for="email" class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="email" name="email" placeholder="Subskrybuj podając swój e-mail" data-form-field="email" class="form-control display-7" value="" id="email-form01-6">
							</div>
							<div class="col-auto mbr-section-btn"><button type="submit" class="w-100 w-100 w-100 w-100 w-100 w-100 btn btn-secondary display-7">Subskrybuj</button></div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>-->
	
</section>



<section data-bs-version="5.1" class="contacts3 map1 cid-tL7eRYxhmt" id="contacts3-1">

    

    
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-1">
                Kontakt</h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-5">
                <div class="card-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-7"><strong>Skontaktuj się z nami:</strong></h6>
                             <p class="display-7 "><br>
                            <span style="color: black; "><strong>Telefon: </strong></span>
                            &nbsp;<span style="color: rgb(48, 136, 212);"> + 48 513 555 110</span><br>
                            <span style="color: black; "><strong>Whatsapp </strong></span>
                            &nbsp;<span style="color: rgb(48, 136, 212);"> + 48 513 555 110</span><br>
                            <span style="color: black; "><strong>E-mail: </strong></span>
                            &nbsp;<span style="color: rgb(48, 136, 212);"> <a href="contact" style="color: rgb(48, 136, 212);">biuro@solarnedachy.eu</a></span><br><br>
                            <span style="color: black; "><strong>Adres: </strong></span><br>
                            <span style="color: rgb(48, 136, 212);">Solarne Dachy&nbsp;<br>Grzybowska 2/31<br>01-131 Warszawa<br></span>
                            <span style="color: black; "><strong>Godziny pracy: </strong></span><br>
                            <span style="color: rgb(48, 136, 212);">8:00AM - 15:00PM</span><br><br><br><br>


                            
                        </p>
                        </p>
                    </div>
                </div>

            </div>
            <div class="map-wrapper col-12 col-md-7">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2347.876373097136!2d21.000319376548774!3d52.23759697198853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc899570925f%3A0x18acf9c9c679ec68!2sGrzybowska%202%2Flok.31%2C%2000-131%20Warszawa!5e1!3m2!1spl!2spl!4v1749806150189!5m2!1spl!2spl" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div> 
</section>


    
    
{% endblock %}