{% extends 'layout.html' %}

{% block title %}Projekty{% endblock %}

{% block content %}

<section data-bs-version="5.1" class="features38 cid-uO0xhCNVyb" id="features038-1p" style="padding-top: 10%;">
    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-1">
                        PROJEKTY INDYWIDUALNE</h1>
                    <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">
                        Dla domów mieszkalnych, w których najlepiej sprawdzi się dachówka solarna, ale równie dobrze mogą to być tradycyjne panele fotowoltaiczne. Zapytaj o szczegóły naszego doradcę...
                        
                    </p>
                        
                      
                </div>
                
            </div>
            <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                <img class="w-60" src="static/assets/images/zrzut-ekranu-2025-06-11.png" alt="Mobirise Website Builder">
            </div>
        </div>
        <div class="row row-reverse justify-content-center" style="padding-top: 30px; padding-bottom: 10%;">
             <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                <img class="w-60" src="static/assets/images/zrzut-ekranu-2025-06-11.png" alt="Mobirise Website Builder">
            </div>
            <div class="col-12 col-md-12 col-lg">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-1">PROJEKTY DLA FIRM</h1>
                    <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">
                        gdwjer
                        Wykonujemy projekty wielkopowierzchniowe instalowane na dachach lub w terenie. Pomagamy w uzyskaniu dofinansowania.
                    </p>
                  
                       
                      
                </div>
            </div>
           
        </div>
        
    </div>
</section>

{% endblock %}
